---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import AboutSection from '../components/AboutSection.astro';
import Testimonials from '../components/Testimonials.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <main>
    <Hero />
    <Services />
    <AboutSection />
    <Testimonials />
    <Gallery />
    <Footer /> 
</main>
</Layout>