---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import AboutSection from '../components/AboutSection.astro';
import VideoShowcase from '../components/VideoShowcase.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Home">
  <main>
    <Hero />
    <Services />
    <AboutSection />
    <VideoShowcase />
    <Gallery /> 
</main>
</Layout>